* {
    margin: 0;
    padding:0;
    background: #0e3b82;
}

.movie-container {
    position: absolute;
    left: 50%;
    top: 30%;
    font-family: fantasy;
    color:#f3f3f3f3;        
}

.card{
    position: initial;
    width: 31rem;
    height: 10rem;
    border: 0.05rem solid #f3f3f3;        
    border-radius: 0.7rem;
    box-shadow: 0px 4px 9px 3px #333;
    list-style: none;
    transform: translate(-50%, -50%);
    left: 50%;
    top:20%;
    margin-top: 1rem;
    line-height: 1.7rem;
    letter-spacing: 0.1rem;
    background: #4f6d9f;
}


img {
    position: absolute;
    border-radius: 0.6rem;
    width: 10rem;
    height: 10rem;
    top: 0rem;
    left: 21rem;
}

h1 {
    font-size: 4rem;
    border-bottom: 0.3rem solid black;
    position: absolute;
    top: 1%;
    left: 37.5%;
    font-family: sans-serif;
}


h2 {
    position: absolute;
    font-size: 1.4rem;
    font-family: fantasy;
    color: #f3f3f3f3;
    left: 2%;
    border-bottom: 0.1rem solid #f3f3f3f3;
    background: inherit;
    font-weight: 300;
}

.genre {
    position: initial;
    left: 34%;
    height: 0.1rem;
    font-size: 0.9rem;
    top: 55%;
    color: #333;
    font-family: fantasy;
}

p {
    position: relative;
    margin-top: 7%;
    line-height: 0.01rem;
    margin-left: 4%;
    top: 5%;
    font-family: math;
    background: inherit;
}

.container {
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    position: absolute;
    left: 3%;
    background: initial;
    top: 16%;
  }

  .form-group {
    margin-bottom: 15px;
  }

  label{
    display: block;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-inline: auto;
    display: block;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }

  #search {
    position: absolute;
    left: 72%;
    top: 10%;
    font-size: 1.5rem;
    text-align: center;
    line-height: 2.3rem;
    color: #f3f3f3f3;
  }

  label.search-label  {
    border-bottom: 0.1rem solid #f3f3f3f3;
  }

  input#search-list {
    width: 18rem;
    height: 2rem;
    position: initial;
    color:initial;
    font-family: inherit;
    font-size: 1.1rem;
    border-radius: 0.5rem;
  }

  button.search-movie {
    position: inherit;
    top: 124%;
    left: 32%;
    width: 5rem;
    height: 2rem;
    background: #3dc027;
    font-size: 0.7rem;
    border-radius: 0.5rem;
    border: none;
    color: #f3f3f3f3;
    cursor: pointer;
  }

  button.search-movie:hover{
    background-color: #45a049;
  }

button.search-movie.a-z {
    left:4%;
}
  button.realese-year{
    left:68%;
  }

  button.rating{
    left: 36%;
  }